doctype html
html
  head
    title WebSite
    link(rel="icon" href="/public/img/favicon.ico" type="image/x-icon")
    link(rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css")
    link(rel="stylesheet" href="/bower_components/font-awesome/css/font-awesome.min.css")
    style.
      [v-cloak] {
        display: none;
      }
  body
    #container
    script(src="/browserify/index/play.js")
